@import "../../assets/scss/partials/variables";
@import "../../assets/scss/partials/mixins";
@import "../../assets/scss/partials/global";

#ft-description {

  h2 {
    text-align: center;
    margin-bottom: 1.25rem;
  }

  p {
    text-align: center;
  }
}
