<section id="ft-description">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
        <h2>Power of the idea and art of craftsmanship</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget imperdiet nisi.
          Praesent semper elementum faucibus. Morbi venenatis luctus eros, id ullamcorper odio mollis eu.
          Nulla facilisi. Fusce in enim ut felis placerat hendrerit. Nam tempor nulla eu urna rhoncus venenatis.
          Ut commodo arcu velit, nec ullamcorper dolor porttitor et. </p>
        <p>Vestibulum eget felis ac sem varius eleifend. Aenean accumsan congue libero in tincidunt. Fusce non nisi elit. Proin pretium eu leo vitae fermentum.
          Nullam sollicitudin lacus nec diam molestie accumsan. Aliquam erat volutpat.</p>
      </div>
    </div>
  </div>
</section>
