<form class="ft-login-form">

  <div class="form-row">

    <div class="form-group col-md-12">
      <label class="sr-only" for="userName">Username</label>
      <input type="text" class="form-control" id="userName" placeholder="Enter your username">
    </div>

    <div class="form-group col-md-12">
      <label class="sr-only" for="inputPassword">Email</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Enter your password">
    </div>

    <div class="form-group col-md-12">
      <button type="button" class="btn btn-lg btn-block ft-btn ft-btn-full">Login</button>
    </div>

  </div>

</form>
