/* Buttons */
.btn,
button {
  letter-spacing: 0;
  line-height: 1;
}

/* Ft button */
.ft-btn {
  @include border-radius(0);
  @include transition (all, 0.35s, linear);
}



/* Light/Dark mode */
.light-mode {

  /* Ft btn outline */
  .ft-btn-outline {
    @include font-mix (var(--black), var(--body-font), 1rem, 1, 500, none);
    background-color: var(--white);
    border-color: var(--black);
    &:hover, &:focus, &:active {
      @include font-mix (var(--black), var(--body-font), 1rem, 1, 500, none);
    }
  }

  /* Ft btn full */
  .ft-btn-full {
    border-color: var(--black);
    @include font-mix (var(--white), var(--body-font), 1rem, 1, 500, none);
    background-color: var(--black);
    &:hover, &:focus, &:active {
      @include font-mix (var(--white), var(--body-font), 1rem, 1, 500, none);
    }
  }

}

.dark-mode {

  /* Ft btn outline */
  .ft-btn-outline {
    @include font-mix (var(--white), var(--body-font), 1rem, 1, 500, none);
    background-color: var(--black);
    border-color: var(--white);
    &:hover, &:focus, &:active {
      @include font-mix (var(--white), var(--body-font), 1rem, 1, 500, none);
    }
  }

  /* Ft btn full */
  .ft-btn-full {
    border-color: var(--white);
    @include font-mix (var(--black), var(--body-font), 1rem, 1, 500, none);
    background-color: var(--white);
    &:hover, &:focus, &:active {
      @include font-mix (var(--black), var(--body-font), 1rem, 1, 500, none);
    }
  }

}





/* Btn link */
.ft-btn-link {
  &:hover, &:focus, &:active {
    text-decoration:none;
  }
}
