.btn,
button,
select,
input,
textarea {
  &:focus {
    outline: 0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:active {
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}
