/* Headlines */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  @include font-mix (inherit, var(--body-font), 1.5rem, 1.1, 500, none);
  @media (min-device-width:576px){
    font-size: 1.5rem;
  }
  @media (min-device-width:768px){
    font-size: 1.75rem;
  }
  @media (min-device-width:1200px){
    font-size: 2.5rem;
  }
  @media (min-device-width:1336px){
  }
  @media (min-device-width:1440px){
  }
  @media (min-device-width:1920px){
    font-size: 3rem;
  }
  @media (min-device-width:2500px){
  }
}

h2 {
  @include font-mix (inherit, var(--body-font), 1.15rem, 1.25, 500, uppercase);
  @media (min-width: 576px) {
    font-size: 1.35rem;
  }
  @media (min-width: 768px) {
    font-size: 1.25rem;
  }
  @media (min-width: 992px) {
    font-size: 1.25rem;
  }
  @media (min-width: 1200px) {
    font-size: 1.25rem;
  }
  @media (min-device-width:1336px){
  }
  @media (min-device-width:1440px){
  }
  @media (min-device-width:1920px){
    font-size: 1.5rem;
  }
  @media (min-device-width:2500px){
  }
}

h3 {
  @include font-mix (inherit, var(--body-font), 1rem, 1.2, 600, none);
  @media (min-width: 576px) {
    font-size: 1rem;
  }
  @media (min-width: 768px) {
    font-size: 1rem;
  }
  @media (min-width: 992px) {
    font-size: 1rem;
  }
  @media (min-width: 1200px) {
    font-size: 1rem;
  }
  @media (min-device-width:1336px){
  }
  @media (min-device-width:1440px){
  }
  @media (min-device-width:1920px){
    font-size: 1.5rem;
  }
  @media (min-device-width:2500px){
  }
}

h4 {
  @include font-mix (inherit, var(--body-font), 1rem, 1.2, 500, uppercase);
  @media (min-width: 576px) {
    font-size: 1rem;
  }
  @media (min-width: 768px) {
    font-size: 1rem;
  }
  @media (min-width: 992px) {
    font-size: 1rem;
  }
  @media (min-width: 1200px) {
    font-size: 1rem;
  }
  @media (min-device-width:1336px){
  }
  @media (min-device-width:1440px){
  }
  @media (min-device-width:1920px){
  }
  @media (min-device-width:2500px){
  }
}
