/* Html & Body */

html {
  box-sizing: border-box;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* Body */
body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  font-family: var(--body-font);
  font-size: 16px;
}

/* Light/Dark mode */
.light-mode {
  color: var(--black);
  background-color: var(--white);
}
.dark-mode {
  color: var(--white);
  background-color: var(--black);
}

body:not(.dark-mode-preloading) {
  @include transition (all, 0.35s, linear);
}
