/* Modal */
.modal-header {
  padding: 0.625rem 2.125rem;
  border-bottom: none;
}
.modal-body {
  padding: 0 2.125rem 2.125rem;
}
.modal-footer {
  @include display-flex ();
  @include flex-direction (row);
  @include align-items (center);
  @include justify-content (center);
  border-top: none;
  padding: 0.625rem 2.125rem;
}
