/* Paragraphs */
p {
  @include font-mix (inherit, var(--body-font), 0.9rem, 1.3, 500, none);
  margin-bottom: 0;
  @media (min-width: 576px) {
    font-size: 0.9rem;
  }
  @media (min-width: 768px) {
    font-size: 1rem;
  }
  @media (min-width: 992px) {
    font-size: 1rem;
  }
  @media (min-width: 1200px) {
    font-size: 1rem;
  }
  @media (min-device-width:1336px){
  }
  @media (min-device-width:1440px){
  }
  @media (min-device-width:1920px){
    font-size: 1.15rem;
  }
  @media (min-device-width:2500px){
  }
}

p + p {
  margin-top: 0.9rem;
  @media (min-width: 576px) {
    margin-top: 0.9rem;
  }
  @media (min-width: 768px) {
    margin-top: 1rem;
  }
  @media (min-width: 992px) {
    margin-top: 1rem;
  }
  @media (min-width: 1200px) {
    margin-top: 1rem;
  }
  @media (min-device-width:1336px){
  }
  @media (min-device-width:1440px){
  }
  @media (min-device-width:1920px){
    margin-top: 1rem;
  }
  @media (min-device-width:2500px){
  }
}
