/* Sections */
section {
  @include display-flex ();
  @include flex-direction (column);
  @include align-items (center);
  @include justify-content (center);
  padding: 1.25rem;
  @media (min-width: 576px) {}
  @media (min-width: 768px) {}
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {
    padding: 2.5rem;
  }
  @media (min-device-width:1336px){}
  @media (min-device-width:1440px){}
  @media (min-device-width:1920px){}
  @media (min-device-width:2500px){}
}

/* Light/Dark mode */
.light-mode {
  section {
    color: var(--black);
    background-color: var(--white);
  }
}
.dark-mode {
  section {
    color: var(--white);
    background-color: var(--black);
  }
}
