<form class="ft-contact__newsletter-form">

  <h3 class="ft-contact__newsletter__title">Get our newsletters</h3>

  <div class="form-row">

    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <label class="sr-only" for="inputNewsletterName">Name</label>
      <input type="email" class="form-control" id="inputNewsletterName" placeholder="Enter your email">
    </div>

    <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <button type="submit" class="btn btn-lg ft-btn ft-btn-full">Subscribe Now</button>
    </div>

  </div>

</form>
