<section id="ft-login">
  <div class="container">

    <div class="ft-login__content row justify-content-center">

      <div class="ft-login__forms col-12 col-sm-12 col-md-8 col-lg-7 col-xl-6">

        <div class="ft-login__login-form__wrap">
          <app-login-form></app-login-form>
        </div>

      </div>

    </div>

  </div>
</section>
