@import "../../assets/scss/partials/variables";
@import "../../assets/scss/partials/mixins";
@import "../../assets/scss/partials/global";

#ft-hero {
  @include display-flex ();
  @include flex-direction (column);
  @include align-items (center);
  @include justify-content (center);
  height: 25rem;
  background-image: url("../../../../assets/images/hero/living-room.jpg");
  @include bg-image (no-repeat, center, center, cover);
  padding: 1.25rem;
  @media (min-width: 576px) {}
  @media (min-width: 768px) {
    height: 35rem;
  }
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {
    padding: 2.5rem;
  }
  @media (min-device-width:1336px){}
  @media (min-device-width:1440px){}
  @media (min-device-width:1920px){}
  @media (min-device-width:2500px){}

  h1 {
    text-align: center;
    color: var(--black);
    margin-bottom: 2.5rem;
  }

  p {
    text-align: center;
    color: var(--white);
    margin-bottom: 1.25rem;
  }

  .ft-btn {
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
    padding: 0.85rem 2.5rem;
    &:hover, &:focus, &:active {
      color: var(--white);
      background-color: var(--black);
      border-color: var(--black);
    }
  }

}
