<header id="ft-hero">

  <h1>Fortisi Home Design <br>Second name for Stylish</h1>

  <p>Beauty that comes from trust</p>

  <a routerLink="/shop" role="button" class="btn btn-lg ft-btn ft-btn-full">Shop Now</a>

</header>
