<nav id="ft-navbar" class="navbar navbar-expand-lg">

    <a class="navbar-brand" routerLink="/home">
      <img class="ft-logo-white" src="assets/images/logo-white.png" alt="Logo white">
      <img class="ft-logo-black" src="assets/images/logo-black.png" alt="Logo black">
    </a>

  <button
    class="navbar-toggler navbar-toggler-right"
    type="button"
    aria-controls="appNavigation"
    [attr.aria-expanded]="!isCollapsed"
    aria-label="Toggle navigation"
    (click)="toggleMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbarSupportedContent"
    class="collapse navbar-collapse"
    [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav ml-auto mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop" routerLinkActive="active">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <app-dark-mode-toggle></app-dark-mode-toggle>
        </a>
      </li>
    </ul>
  </div>

</nav>
