@import "../../assets/scss/partials/variables";
@import "../../assets/scss/partials/mixins";
@import "../../assets/scss/partials/global";

/* Light/Dark mode */
:host-context( .light-mode ) {
  color: var(--black);
  background-color: var(--white);
  border-color: var(--black);

  .navbar-brand {
    .ft-logo-white {
      display: none;
    }
    .ft-logo-black {
      display: block;
    }
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

}

:host-context( .dark-mode ) {
  color: var(--white);
  background-color: var(--black);
  border-color: var(--white);

  .navbar-brand {
    .ft-logo-white {
      display: block;
    }
    .ft-logo-black {
      display: none;
    }
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

}

#ft-navbar {
  border-bottom: 0.3125rem solid var(--gray);

  .navbar-brand {
    img {
      width: 5rem;
    }
  }

  .navbar-toggler {
    color: inherit;
    border-color: inherit;

    .navbar-toggler-icon {}

  }

  .navbar-nav {
    align-items: center;
    .nav-item {
      .nav-link {
        color: inherit;
        &.active {
          color: var(--primary-color);
        }
      }
    }
  }

}
