@import "../../assets/scss/partials/variables";
@import "../../assets/scss/partials/mixins";
@import "../../assets/scss/partials/global";

/* SOCIAL SHARE */
#ft-social-share {
  width: 2.5rem;

  .ft-social-share__list {
    @include display-flex ();
    @include flex-direction (column);
    @include align-items (center);
    @include justify-content (center);
    background-color: var(--white);
    border: {
      bottom: 1px solid var(--black);
      left: 1px solid var(--black);
      top: 1px solid var(--black);
    }

    .ft-social-share__item {
      padding: 0.3125rem 0.625rem;
      .ft-social-share__image {}
    }

    .ft-social-share__item + .ft-social-share__item {
      margin-top: 0.625rem;
    }

  }

}
