<div class="ft-app"[@routeAnimations]="o && o.activatedRouteData && o.activatedRouteData['animation']">
  <app-layout-page-main>
    <router-outlet #o="outlet"></router-outlet>
  </app-layout-page-main>
</div>
