@import "../../assets/scss/partials/variables";
@import "../../assets/scss/partials/mixins";
@import "../../assets/scss/partials/global";

/* Light/Dark mode */
:host-context( .light-mode ) {
  color: var(--black);
  background-color: var(--white);
  border-color: var(--black);
}
:host-context( .dark-mode ) {
  color: var(--white);
  background-color: var(--black);
  border-color: var(--white);
}

/* Contact form */
.ft-contact-form {

  /* Input */
  input {
    @include input (calc(1.5em + 0.75rem + 2px), left, 0.375rem, 0.75rem, 0px, 0px, inherit, inherit, inherit, inherit);
    @include font-mix (inherit, var(--body-font), 1rem, 1, 500, none);
    border-bottom: {
      width: 1px;
      style: solid;
      color: inherit;
    }
    &:focus {
      border-bottom: {
        width: 1px;
        style: solid;
        color: inherit;
      }
    }
  }

  /* Textarea */
  textarea {
    @include textarea (left, 0.375rem, 0.75rem, 0px, 0px, inherit, inherit, inherit, inherit);
    @include font-mix (inherit, var(--body-font), 1rem, 1, 500, none);
    border-bottom: {
      width: 1px;
      style: solid;
      color: inherit;
    }
    &:focus {
      border-bottom: {
        width: 1px;
        style: solid;
        color: inherit;
      }
    }
  }

  /* Placeholder */
  @include placeholder-input (inherit, var(--body-font), 1rem, 1, 500, left, none, normal);

  /* Button */
  .ft-btn {
    padding: 0.85rem 2.5rem;
  }

}

