<form class="ft-contact-form">

  <div class="form-row">

    <div class="form-group col-md-6">
      <label class="sr-only" for="inputName">Name</label>
      <input type="text" class="form-control" id="inputName" placeholder="Enter your name">
    </div>

    <div class="form-group col-md-6">
      <label class="sr-only" for="inputEmail">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email">
    </div>

    <div class="form-group col-md-12">
      <label class="sr-only" for="inputSubject">Subject</label>
      <input type="text" class="form-control" id="inputSubject" placeholder="Enter your subject">
    </div>

    <div class="form-group col-md-12">
      <label class="sr-only" for="inputTextarea">Message</label>
      <textarea class="form-control" id="inputTextarea" placeholder="Enter your message" rows="4"></textarea>
    </div>

    <div class="form-group col-md-12">
      <button type="button" class="btn btn-lg btn-block ft-btn ft-btn-full">Send</button>
    </div>

  </div>

</form>
