/* VARIABLES */

/* Font family */
/* Colors */
/* White --> Gray --> Black */
:root {
  --body-font: 'Merriweather Sans', sans-serif;
  --primary-color: #6c854b;
  --secondary-color: #9f846b;
  --white: #fff;
  --light-gray: #efefef;
  --gray: #999999;
  --medium-gray: #666666;
  --dark-gray: #333333;
  --black: #222222;
}
