@import "../../assets/scss/partials/variables";
@import "../../assets/scss/partials/mixins";
@import "../../assets/scss/partials/global";

/* Light/Dark mode */
:host-context( .light-mode ) {
  color: var(--gray);
  background-color: var(--white);
}
:host-context( .dark-mode ) {
  color: var(--gray);
  background-color: var(--black);
}

#ft-footer {
  @include display-flex ();
  @include flex-direction (row);
  @include align-items (center);
  @include justify-content (center);
  padding: 0.625rem 1.25rem;

  p {
    @include font-mix (inherit, var(--body-font), 0.75rem, 1, 500, none);
    @media (min-width: 576px) {
      font-size: 0.75rem;
    }
    @media (min-width: 768px) {
      font-size: 0.85rem;
    }
    @media (min-width: 992px) {
      font-size: 0.85rem;
    }
    @media (min-width: 1200px) {
      font-size: 0.85rem;
    }
    @media (min-device-width:1336px){
    }
    @media (min-device-width:1440px){
    }
    @media (min-device-width:1920px){
      font-size: 0.85rem;
    }
    @media (min-device-width:2500px){
    }
    a {
      color: inherit;
    }
  }

}
