<footer id="ft-footer">
  <div class="container">
    <p class="ft-footer__copyright text-center">
      {{ title }}: {{ subtitle }} &copy; 2021. Created by <a href="https://theblissfuldesign.com/" target="_blank">Nataša Kunić</a>.
    </p>
  </div>
</footer>
