<input
  id="darkMode"
  type="checkbox"
  [checked]="darkMode$ | async"
  (change)="onToggle()"
  class="toggle"
/>
<label class="toggle-label" for="darkMode">
  <span class="moon">Light mode</span>
  <span class="sun">Dark mode</span>
</label>
