:host {
  display: flex;
  align-items: center;
}

.toggle {
  display: none;
}

.toggle-label {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 1.3rem;
  overflow: hidden;
  margin-bottom: 0;
  cursor: pointer;
}

.sun,
.moon {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  transition: top 0.3s;
}

.sun {
  top: 0;
}

.moon {
  top: -150%;
}

.toggle:checked + .toggle-label .sun {
  top: 150%;
}

.toggle:checked + .toggle-label .moon {
  top: 0;
}
