<section id="ft-photo">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-10">
        <img class="img-fluid" [alt]="altText" [src]="photoUrl">
      </div>
    </div>
  </div>
</section>
