<section id="ft-contact">
  <div class="container">

    <div class="ft-contact__content row">

      <div class="ft-contact__data col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">

        <h3 class="ft-contact__data__title">Fortisi Home Design</h3>

        <ul class="ft-contact__data__list">
          <li>
            <label>A:</label>
            <span>Ljubice Ravasi 7, 21000 Novi Sad</span>
          </li>
          <li>
            <label>T:</label>
            <a href="tel:+381638528404">063/852-84-04</a>
          </li>
          <li>
            <label>E:</label>
            <a href="mailto: natasa.kunic@gmail.com">natasa.kunic@gmail.com</a>
          </li>
        </ul>
        <ul class="ft-contact__data__list">
          <li>
            <label>MON - FRI:</label>
            <span>7am - 10pm</span>
          </li>
          <li>
            <label>SATURDAY:</label>
            <span>8am - 10pm</span>
          </li>
          <li>
            <label>SUNDAY:</label>
            <span>8am - 11pm</span>
          </li>
        </ul>
        <ul class="ft-contact__data__list">
          <li><a href="#" target="_blank">FAQ</a></li>
          <li><a href="#" target="_blank">Shipping & Returns</a></li>
          <li><a href="#" target="_blank">Store Policy</a></li>
          <li><a href="#" target="_blank">Payment Methods</a></li>
        </ul>

      </div>

      <div class="ft-contact__forms col-12 col-sm-12 col-md-6 offset-md-2 col-lg-7 offset-lg-1 col-xl-7 offset-xl-2">

        <div class="ft-contact__contact-form__wrap">
          <app-contact-form></app-contact-form>
        </div>

        <div class="ft-contact__newsletter-form__wrap">
          <app-newsletter></app-newsletter>
        </div>

      </div>

    </div>

  </div>

</section>

<app-map></app-map>
