:host {
  display: block;
  height: 100%;
  width: 100%;
}

.ft-layout-page-main {
  --ft-layout-page-main-grid-template-row-navigation-size: minmax(min-content, max-content);
  --ft-layout-page-main-grid-template-row-body-size: auto;
  --ft-layout-page-main-grid-template-row-footer-size: minmax(min-content, max-content);
  display: grid;
  grid: {
    template: {
      areas:
      "navigation"
      "body"
      "footer";
      columns: [full-start] auto [full-end];
      rows:
        [full-start navigation-start] var(--ft-layout-page-main-grid-template-row-navigation-size)
        [navigation-end body-start] var(--ft-layout-page-main-grid-template-row-body-size)
        [body-end footer-start] var(--ft-layout-page-main-grid-template-row-footer-size)
        [footer-end full-end];
    }
  }
  height: 100%;
  position: relative;
}

.ft-layout-page-main__navigation {
  grid-area: navigation;
}

.ft-layout-page-main__body {
  grid-area: body;
  overflow-y: auto;
}

.ft-layout-page-main__footer {
  grid-area: footer;
}

.ft-layout-page-main__social-share {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
