<div class="ft-layout-page-main">
  <div class="ft-layout-page-main__navigation">
    <app-navbar></app-navbar>
  </div>
  <div class="ft-layout-page-main__body">
    <ng-content></ng-content>
  </div>
  <div class="ft-layout-page-main__footer">
    <app-footer></app-footer>
  </div>
  <div class="ft-layout-page-main__social-share">
    <app-social-share></app-social-share>
  </div>
</div>
