// Align items (cross axis)
@mixin align-items($value) {
  -webkit-align-items: $value;
  -moz-align-items: $value;
  -ms-align-items: $value;
  -o-align-items: $value;
  align-items: $value;
}

/*
@include align-items ($value);
@include align-items (flex-start);
@include align-items (center);
@include align-items (flex-end);
@include align-items (stretch);
@include align-items (baseline);
*/
