// Align self
@mixin align-self($value) {
  -webkit-align-self: $value;
  -moz-align-self: $value;
  -ms-align-self: $value;
  -o-align-self: $value;
  align-self: $value;
}

/*
@include align-self ($value);
@include align-self (center);
@include align-self (center);
@include align-self (center);
*/
