/* BOX SHADOW */

@mixin box-shadow ($horizontal-length, $vertical-length, $blur, $spread, $rgba-color-and-opacity) {
  -webkit-box-shadow: $horizontal-length $vertical-length $blur $spread $rgba-color-and-opacity;
  -moz-box-shadow: $horizontal-length $vertical-length $blur $spread $rgba-color-and-opacity;
  box-shadow: $horizontal-length $vertical-length $blur $spread $rgba-color-and-opacity;
}

/*

@include box-shadow (5px, 5px, 5px, 0px, rgba(51,51,51,0.15));

-webkit-box-shadow: 10px 10px 5px 0px rgba(51,51,51,0.15);
    -moz-box-shadow: 10px 10px 5px 0px rgba(51,51,51,0.15);
    box-shadow: 10px 10px 5px 0px rgba(51,51,51,0.15);

*/

/* BOX SHADOW INSET*/

@mixin box-shadow-inset ($horizontal-length, $vertical-length, $blur, $spread, $rgba-color-and-opacity) {
  -webkit-box-shadow: inset $horizontal-length $vertical-length $blur $spread $rgba-color-and-opacity;
  -moz-box-shadow: inset $horizontal-length $vertical-length $blur $spread $rgba-color-and-opacity;
  box-shadow: inset $horizontal-length $vertical-length $blur $spread $rgba-color-and-opacity;
}

/*

@include box-shadow (5px, 5px, 5px, 0px, rgba(51,51,51,0.15));

-webkit-box-shadow: 10px 10px 5px 0px rgba(51,51,51,0.15);
    -moz-box-shadow: 10px 10px 5px 0px rgba(51,51,51,0.15);
    box-shadow: 10px 10px 5px 0px rgba(51,51,51,0.15);

*/
