/* Flex */
@mixin flex($flex-grow, $flex-shrink, $flex-basis) {
  -webkit-flex: $flex-grow $flex-shrink $flex-basis;
  -ms-flex: $flex-grow $flex-shrink $flex-basis;
  flex: $flex-grow $flex-shrink $flex-basis;
}

/*
@include flex ($flex-grow, $flex-shrink, $flex-basis);
@include flex (0, 1, auto);
*/
