// Flex direction
@mixin flex-direction($value) {
  -webkit-flex-direction: $value;
  -moz-flex-direction: $value;
  -ms-flex-direction: $value;
  -o-flex-direction: $value;
  flex-direction: $value;
}

/*
@include flex-direction ($value);
@include flex-direction (row);
@include flex-direction (row-reverse);
@include flex-direction (column);
@include flex-direction (column-reverse);
*/
