// Flex flow
@mixin flex-flow($value1, $value2) {
  -webkit-flex-flow: $value1 $value2;
  -moz-flex-flow: $value1 $value2;
  -ms-flex-flow: $value1 $value2;
  -o-flex-flow: $value1 $value2;
  flex-flow: $value1 $value2;
}

/*
@include flex-flow ($value1, $value2);
@include flex-flow (row, wrap);
@include flex-flow (row, nowrap);
@include flex-flow (column, wrap);
@include flex-flow (column, nowrap);
*/
