/* FONT MIX */

@mixin font-mix ($color, $font-family, $font-size, $line-height, $font-weight, $text-transform) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  text-transform: $text-transform;
}

/*
@include font-mix (
$color,
$font-family,
$font-size,
$line-height,
$font-weight,
$text-transform );

@include font-mix (var(--gray)-darker, var(--body-font), 15px, 1, 500, none);
@include font-mix (var(--gray)-darker, var(--body-font), 15px, 1, 500, uppercase);
*/
