// Justify content (main axis)
@mixin justify-content($value) {
  -webkit-justify-content: $value;
  -moz-justify-content: $value;
  -ms-justify-content: $value;
  -o-justify-content: $value;
  justify-content: $value;
}

/*
@include justify-content ($value);
@include justify-content (flex-start);
@include justify-content (center);
@include justify-content (flex-end);
@include justify-content (space-between);
@include justify-content (space-around);
*/
