/* PLACEHOLDER */

@mixin placeholder-input ($color, $font-family, $font-size, $line-height, $font-weight, $text-align, $text-transform, $font-style) {
  ::-moz-placeholder { /* Firefox 19+ */
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    text-align: $text-align;
    text-transform: $text-transform;
    font-style: $font-style;
  }
  ::-webkit-input-placeholder {
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    text-align: $text-align;
    text-transform: $text-transform;
    font-style: $font-style;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    text-align: $text-align;
    text-transform: $text-transform;
    font-style: $font-style;
  }
  :-ms-input-placeholder {
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    text-align: $text-align;
    text-transform: $text-transform;
    font-style: $font-style;
  }
}

/*
@include placeholder-input (
$color,
$font-family,
$font-size,
$line-height,
$font-weight,
$text-align,
$text-transform,
$font-style);

@include placeholder-input (var(--gray)-darker, var(--body-font), 15px, 1, 500, left, none, $font-style);
@include placeholder-input (var(--gray)-darker, var(--body-font), 15px, 1, 500, left, uppercase, $font-style);
*/
