/* TEXTAREA */

@mixin textarea ($text-align, $vertical-padding, $horizontal-padding, $border-width, $border-radius, $border-color, $background-color, $border-color-focus, $background-color-focus) {
  height: auto;
  text-align: $text-align;
  padding: $vertical-padding $horizontal-padding;
  border: {
    width: $border-width;
    style: solid;
    color: $border-color;
  }
  border-radius: $border-radius;
  background-color: $background-color;
  -webkit-box-shadow: none;
  box-shadow: none;
  resize: vertical;
  margin-bottom: 15px;
  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: $border-width solid $border-color-focus;
    background-color: $background-color-focus;
  }
}

/*
@include textarea (
$text-align,
$vertical-padding, $horizontal-padding,
$border-width, $border-radius,
$border-color, $background-color,
$border-color-focus, $background-color-focus);

@include textarea (left, 5px, 10px, 1px, 0px, var(--gray), var(--gray)-light, var(--gray), var(--gray)-light);


+ Font-mix ++++++++++++++++++++++++

@include font-mix ($color, $font-family, $font-size, $line-height, $font-weight, $text-transform );

@include font-mix (var(--gray)-darker, var(--body-font), 15px, 1, 500, none);
@include font-mix (var(--gray)-darker, var(--body-font), 15px, 1, 500, uppercase);

*/
