/* TRANSFORM */

/*@mixin transform ($x, $y, $z) {
-webkit-transform: translate3d($x, $y, $z)
-moz-transform: translate3d($x, $y, $z)
-o-transform: translate3d($x, $y, $z)
transform: translate3d($x, $y, $z)
}*/

/*
@include transform ($object, $sec, $type);
@include transform (all, 0.3s, linear);
*/

/* ROTATE */

@mixin rotate {
  -webkit-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}

/*
@include rotate ($deg);
@include rotate (all);
*/
