<section id="ft-shop">

  <div class="container">

    <!-- HOME PAGE -->
    <ng-container *ngIf="isHomePage">

      <div class="ft-shop-gallery ft-shop-gallery--featured row">

        <div *ngFor="let product of products | slice:0:6; let i=index" class="ft-shop-gallery__item col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

          <div class="ft-shop-gallery__item__content" [@fadeInAnimation]>

            <!--  Image -->
            <div class="ft-shop-gallery__image-wrap">
              <img class="ft-shop-gallery__image img-fluid" src="{{product.imageUrl}}" alt="{{product.name}}" >
            </div>

            <div class="ft-shop-gallery__name-and-price">

              <!--  Name -->
              <div class="ft-shop-gallery__name">{{product.name}}</div>

              <!--  Price -->
              <div class="ft-shop-gallery__price">
                {{product.price}}
                <span class="ft-shop-gallery__currency">din</span>
              </div>

            </div>

            <!-- Product tags -->
            <div class="ft-shop-gallery__item__tag" *ngIf="product.tagNew || product.tagBestSeller">
              <span>
                <ng-container *ngIf="product.tagNew">New</ng-container>
                <ng-container *ngIf="product.tagBestSeller">Best seller</ng-container>
                <ng-container *ngIf="product.tagSale">Sale</ng-container>
              </span>
            </div>

          </div>

        </div>

      </div>

      <!-- Load more btn -->
      <div class="ft-shop-button">
        <a routerLink="/shop" role="button" class="btn btn-lg ft-btn ft-btn-outline">See all</a>
      </div>

    </ng-container>

    <!-- SHOP PAGE -->
    <ng-container *ngIf="isShopPage">

      <div class="ft-shop-tabs__wrap">

        <div class="ft-shop-tabs w-100">

          <div class="row w-100">

            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-4">

              <h3 class="ft-shop-tabs__title mb-2 mb-sm-2 mb-md-0 mb-lg-0 mb-xl-0">Categories</h3>

              <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="ft-shop-tabs__nav nav-tabs">

                <li [ngbNavItem]="1">

                  <a ngbNavLink>Living Room</a>

                  <ng-template ngbNavContent>

                    <div class="ft-shop-gallery ft-shop-gallery--categorized row">

                      <div *ngFor="let product of livingRoomProducts" class="ft-shop-gallery__item col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">

                        <div class="ft-shop-gallery__item__content" [@fadeInAnimation]>

                          <!--  Image -->
                          <div class="ft-shop-gallery__image-wrap">
                            <img class="ft-shop-gallery__image img-fluid" src="{{product.imageByCategoryUrl}}" alt="{{product.name}}" >
                          </div>

                          <div class="ft-shop-gallery__name-and-price">

                            <!--  Name -->
                            <div class="ft-shop-gallery__name">{{product.name}}</div>

                            <!--  Price -->
                            <div class="ft-shop-gallery__price">
                              {{product.price}}
                              <span class="ft-shop-gallery__currency">din</span>
                            </div>

                          </div>

                          <!-- Product tags -->
                          <div class="ft-shop-gallery__item__tag" *ngIf="product.tagNew || product.tagBestSeller || product.tagSale">
                            <span>
                              <ng-container *ngIf="product.tagNew">New</ng-container>
                              <ng-container *ngIf="product.tagBestSeller">Best seller</ng-container>
                              <ng-container *ngIf="product.tagSale">Sale</ng-container>
                            </span>
                          </div>

                        </div>

                      </div>

                      <!-- No products -->
                      <div *ngIf="livingRoomProducts.length === 0" class="ft-no-products col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <img class="ft-no-products__image img-fluid" src="assets/images/shop/no-products-found.jpg" alt="Logo">
                        <p class="ft-no-products__text">No products found in this category</p>
                      </div>

                    </div>

                  </ng-template>

                </li>

                <li [ngbNavItem]="2">

                  <a ngbNavLink>Bedroom</a>

                  <ng-template ngbNavContent>

                    <div class="ft-shop-gallery ft-shop-gallery--categorized row">

                      <div *ngFor="let product of bedRoomProducts" class="ft-shop-gallery__item col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">

                        <div class="ft-shop-gallery__item__content" [@fadeInAnimation]>

                          <!--  Image -->
                          <div class="ft-shop-gallery__image-wrap">
                            <img class="ft-shop-gallery__image img-fluid" src="{{product.imageByCategoryUrl}}" alt="{{product.name}}" >
                          </div>

                          <div class="ft-shop-gallery__name-and-price">

                            <!--  Name -->
                            <div class="ft-shop-gallery__name">{{product.name}}</div>

                            <!--  Price -->
                            <div class="ft-shop-gallery__price">
                              {{product.price}}
                              <span class="ft-shop-gallery__currency">din</span>
                            </div>

                          </div>

                          <!-- Product tags -->
                          <div class="ft-shop-gallery__item__tag" *ngIf="product.tagNew || product.tagBestSeller || product.tagSale">
                            <span>
                              <ng-container *ngIf="product.tagNew">New</ng-container>
                              <ng-container *ngIf="product.tagBestSeller">Best seller</ng-container>
                              <ng-container *ngIf="product.tagSale">Sale</ng-container>
                            </span>
                          </div>

                        </div>

                      </div>

                    </div>

                    <!-- No products -->
                    <div *ngIf="bedRoomProducts.length === 0" class="ft-no-products col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <img class="ft-no-products__image img-fluid" src="assets/images/shop/no-products-found.jpg" alt="Logo">
                      <p class="ft-no-products__text">No products found in this category</p>
                    </div>

                  </ng-template>

                </li>

                <li [ngbNavItem]="3">
                  <a ngbNavLink>Kitchen</a>
                  <ng-template ngbNavContent>

                    <div class="ft-shop-gallery ft-shop-gallery--categorized row">

                      <div *ngFor="let product of kitchenProducts" class="ft-shop-gallery__item col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">

                        <div class="ft-shop-gallery__item__content" [@fadeInAnimation]>

                          <!--  Image -->
                          <div class="ft-shop-gallery__image-wrap">
                            <img class="ft-shop-gallery__image img-fluid" src="{{product.imageByCategoryUrl}}" alt="{{product.name}}" >
                          </div>

                          <div class="ft-shop-gallery__name-and-price">

                            <!--  Name -->
                            <div class="ft-shop-gallery__name">{{product.name}}</div>

                            <!--  Price -->
                            <div class="ft-shop-gallery__price">
                              {{product.price}}
                              <span class="ft-shop-gallery__currency">din</span>
                            </div>

                          </div>

                          <!-- Product tags -->
                          <div class="ft-shop-gallery__item__tag" *ngIf="product.tagNew || product.tagBestSeller || product.tagSale">
                            <span>
                              <ng-container *ngIf="product.tagNew">New</ng-container>
                              <ng-container *ngIf="product.tagBestSeller">Best seller</ng-container>
                              <ng-container *ngIf="product.tagSale">Sale</ng-container>
                            </span>
                          </div>

                        </div>

                      </div>

                    </div>

                    <!-- No products -->
                    <div *ngIf="kitchenProducts.length === 0" class="ft-no-products col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <img class="ft-no-products__image img-fluid" src="assets/images/shop/no-products-found.jpg" alt="Logo">
                      <p class="ft-no-products__text">No products found in this category</p>
                    </div>

                  </ng-template>
                </li>

                <li [ngbNavItem]="4">

                  <a ngbNavLink>Bathroom</a>

                  <ng-template ngbNavContent>

                    <div *ngFor="let product of bathRoomProducts" class="ft-shop-gallery__item col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">

                      <div class="ft-shop-gallery__item__content" [@fadeInAnimation]>

                        <!--  Image -->
                        <div class="ft-shop-gallery__image-wrap">
                          <img class="ft-shop-gallery__image img-fluid" src="{{product.imageByCategoryUrl}}" alt="{{product.name}}" >
                        </div>

                        <div class="ft-shop-gallery__name-and-price">

                          <!--  Name -->
                          <div class="ft-shop-gallery__name">{{product.name}}</div>

                          <!--  Price -->
                          <div class="ft-shop-gallery__price">
                            {{product.price}}
                            <span class="ft-shop-gallery__currency">din</span>
                          </div>

                        </div>

                        <!-- Product tags -->
                        <div class="ft-shop-gallery__item__tag" *ngIf="product.tagNew || product.tagBestSeller || product.tagSale">
                            <span>
                              <ng-container *ngIf="product.tagNew">New</ng-container>
                              <ng-container *ngIf="product.tagBestSeller">Best seller</ng-container>
                              <ng-container *ngIf="product.tagSale">Sale</ng-container>
                            </span>
                        </div>

                      </div>

                    </div>

                    <!-- No products -->
                    <div *ngIf="bathRoomProducts.length === 0" class="ft-no-products col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <img class="ft-no-products__image img-fluid" src="assets/images/shop/no-products-found.jpg" alt="Logo">
                      <p class="ft-no-products__text">No products found in this category</p>
                    </div>

                  </ng-template>

                </li>

              </ul>

            </div>

            <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-8 mt-5 mt-sm-5 mt-md-0 mt-lg-0 mt-xl-0">

              <div [ngbNavOutlet]="nav" class="ft-shop-tabs__content"></div>

            </div>

          </div>

        </div>

      </div>

    </ng-container>

  </div>

</section>

