@import "../../assets/scss/partials/variables";
@import "../../assets/scss/partials/mixins";
@import "../../assets/scss/partials/global";

/* Light/Dark mode */
:host-context( .light-mode ) {
  color: var(--black);
  background-color: var(--white);
  border-color: var(--black);
}
:host-context( .dark-mode ) {
  color: var(--white);
  background-color: var(--black);
  border-color: var(--white);
}

/* SHOP */
#ft-shop {
  padding: 1.25rem;
  @media (min-width: 576px) {}
  @media (min-width: 768px) {}
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {
    padding: 2.5rem;
  }
  @media (min-device-width:1336px){}
  @media (min-device-width:1440px){}
  @media (min-device-width:1920px){}
  @media (min-device-width:2500px){}

  /* Homepage product gallery */
  .ft-shop-gallery {

    .ft-shop-gallery__item {

      .ft-shop-gallery__item__content {
        position: relative;
        @include display-flex ();
        @include flex-direction (column);
        @include align-items (center);
        @include justify-content (center);

        /* Image */
        .ft-shop-gallery__image-wrap {
          position: relative;
          margin-bottom: 0.625rem;

          .ft-shop-gallery__image {}

        }

        .ft-shop-gallery__name-and-price {
          padding: 0.3125rem;
        }

        /* Name */
        .ft-shop-gallery__name {
          text-align: center;
          margin-bottom: 0.3125rem;
          @include font-mix (inherit, var(--body-font), 1rem, 1, 600, none);
        }

        /* Price */
        .ft-shop-gallery__price {
          text-align: center;
          @include font-mix (inherit, var(--body-font), 0.85rem, 1, 500, none);
        }

        /* Tag */
        .ft-shop-gallery__item__tag {
          position: absolute;
          top: 0;
          left: 0;
          @include display-flex ();
          @include flex-direction (row);
          @include align-items (center);
          @include justify-content (center);
          width: auto;
          height: 2.5rem;
          padding: 0.3125rem 1.875rem;
          @include font-mix (var(--white), var(--body-font), 1rem, 1, 500, none);
        }
      }

    }

    &.ft-shop-gallery--featured {

      .ft-shop-gallery__item {

        &:nth-child(2) {
          margin-top: 2.5rem;
          @media (min-width: 768px) {
            margin-top: 0;
          }
        }

        &:nth-child(3) {
          margin-top: 2.5rem;
          @media (min-width: 768px) {
            margin-top: 0;
          }
        }

        &:nth-child(4) {
          margin-top: 2.5rem;
          @media (min-width: 768px) {
            margin-top: 1.25rem;
          }
        }

        &:nth-child(n+5) {
          margin-top: 2.5rem;
          @media (min-width: 768px) {
            margin-top: 1.25rem;
          }
          @media (min-width: 992px) {
            margin-top: 1.25rem;
          }
        }

        .ft-shop-gallery__item__content {

          .ft-shop-gallery__item__tag {
            background-color: var(--secondary-color);
          }

        }

      }

    }

    &.ft-shop-gallery--categorized {

      .ft-shop-gallery__item {

        &:nth-child(2) {
          margin-top: 2.5rem;
          @media (min-width: 768px) {
            margin-top: 0;
          }
        }

        &:nth-child(3) {
          margin-top: 2.5rem;
          @media (min-width: 768px) {
            margin-top: 1.25rem;
          }
          @media (min-width: 992px) {
            margin-top: 0;
          }
        }

        &:nth-child(4) {
          margin-top: 2.5rem;
          @media (min-width: 768px) {
            margin-top: 1.25rem;
          }
          @media (min-width: 992px) {
            margin-top: 0;
          }
        }

        &:nth-child(n+5) {
          margin-top: 2.5rem;
          @media (min-width: 768px) {
            margin-top: 1.25rem;
          }
          @media (min-width: 992px) {
            margin-top: 1.25rem;
          }
        }

        .ft-shop-gallery__item__content {

          .ft-shop-gallery__item__tag {
            background-color: var(--secondary-color);
          }

        }

      }

    }

  }

  /* Load more btn */
  .ft-shop-gallery + .ft-shop-button {
    @include display-flex ();
    @include flex-direction (row);
    @include align-items (center);
    @include justify-content (center);
    margin-top: 1.5rem;
    @media (min-width: 576px) {}
    @media (min-width: 768px) {}
    @media (min-width: 992px) {}
    @media (min-width: 1200px) {
      margin-top: 2.5rem;
    }
    @media (min-device-width:1336px){}
    @media (min-device-width:1440px){}
    @media (min-device-width:1920px){}
    @media (min-device-width:2500px){}

    .ft-btn {
      padding: 0.85rem 3.25rem;
      @media (min-width: 576px) {
        padding: 0.85rem 3.25rem;
      }
      @media (min-width: 768px) {
        padding: 0.85rem 6.25rem;
      }
      @media (min-width: 992px) {
        padding: 0.85rem 6.25rem;
      }
      @media (min-width: 1200px) {
        padding: 0.85rem 6.25rem;
      }
      @media (min-device-width:1336px){
      }
      @media (min-device-width:1440px){
      }
      @media (min-device-width:1920px){
        padding: 0.85rem 6.25rem;
      }
      @media (min-device-width:2500px){
      }
    }

  }

  /* Shop page product tabs */
  .ft-shop-tabs__wrap {

    .ft-shop-tabs__title {
      width: 10rem;
      padding: 0.5rem 1rem;
      @include font-mix (inherit, var(--body-font), 1rem, 1, 600, none);
      border-bottom: {
        width: 0.3125rem;
        style: solid;
        color: inherit;
      }
    }

    .ft-shop-tabs {
      @include display-flex ();
      @include flex-direction (row);
      @include align-items (flex-start);
      @include justify-content (flex-start);

      .ft-shop-tabs__nav {
        @include flex-direction (column);
        flex-wrap: unset;
        border-bottom: none;
        flex: 0 0 10rem;

        .nav-item {
          margin-bottom: 0;

          .nav-link {
            border: none;
            @include border-radius(0);
            @include font-mix (inherit, var(--body-font), 1rem, 1, 500, none);
            border-bottom: {
              width: 0.125rem;
              style: dashed;
              color: inherit;
            }
            background-color: inherit;
            &.active {
              @include font-mix (var(--primary-color), var(--body-font), 1rem, 1, 500, none);
              border-color: var(--primary-color);
            }
          }

        }

      }

      .ft-shop-tabs__content {
        flex: 1;
      }
    }
  }

  /* No products */
  .ft-no-products {
    @include display-flex ();
    @include flex-direction (column);
    @include align-items (center);
    @include justify-content (center);

    .ft-no-products__image {
      margin-bottom: 1.25rem;
    }

    .ft-no-products__text {
      @include font-mix (inherit, var(--body-font), 1rem, 1, 500, none);
    }

  }

}
